[submodule "lib/com_client"]
	path = lib/com_client
	url = git@github.com:Aightech/com_client
	branch = main
[submodule "tool_lib/joystick"]
	path = tool_lib/joystick
	url = git@github.com:Aightech/joystick.git
	branch = main
[submodule "tool_lib/built_lsl"]
	path = tool_lib/built_lsl
	url = git@github.com:Aightech/built_lsl
	branch = main
[submodule "lib/camera"]
	path = lib/camera
	url = git@github.com:Aightech/camera
	branch = main
[submodule "lib/ni-daqmx"]
	path = lib/ni-daqmx
	url = git@github.com:Aightech/ni-daqmx
	branch = main
