[submodule "lib/com_client"]
	path = lib/com_client
	url = git@github.com:Aightech/com_client
	branch = main
[submodule "tool_lib/joystick"]
	path = tool_lib/joystick
	url = git@github.com:Aightech/joystick.git
